* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: whitesmoke;
    color: #383838;
}

/*--------------------------------Navigation Styling--------------------------------*/

header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #383838;
    top: 0;
    z-index: 99;

}

#navbar {
    width: 100%;
    position: relative;
    background-color: whitesmoke;
    font-family: 'Poppins';
    padding: 33px 0;
}

.navdiv {
    margin: 0 auto;
    width: 1370px;
}

.home {
    text-decoration: none;
    color: #383838;
    
}

.navdiv ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -132px;
}

.logo h1 {
    font-size: 3.5rem;
    font-weight: 300;
}

.navdiv ul li {
    display: inline-block;
    padding: 0 20px;
    list-style: none;
    display: inline-block;
}

.navdiv ul li:nth-child(1) {
    float: left;
}

.navdiv ul li:nth-child(2) {
    float: left;
}

.navdiv ul li:nth-child(3) {
    float: left;
}

.navdiv ul li a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #383838;
    padding: 10px 20px;
}

.navdiv a::after {
    content: "";
    position: absolute;
    background-color: #383838;
    height: 3px;
    width: 0;
    left: 8px;
    bottom: -1px;
    transition: all 0.3s;
    opacity: 0;
}

.navdiv a:hover::after {
   width: 80%;
   opacity: 1;
}

.search-box {
    margin-top: -6px;
    height: 30px;
    display: inline;
    cursor: pointer;
    background: whitesmoke;
    border-radius: 30px;
    align-items: center;
    border: 1px solid whitesmoke;
}

.search-box:hover input {
    width: 200px;
    border: 1px solid #383838;
    border-radius: 20px;
    padding: 3px 20px;
    font-family: 'Poppins', sans-serif;
}

nav i {
    margin-left: 10px;
    color: red;
}

.search-box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 300;
    transition: 0.8s;
    background: transparent;
}

/*-------------------------------Product Page Styling-------------------------------*/

.container {
    text-align: center;
    margin-top: 7%;
}

.container span {
    color: red;
    font-size: 2rem;
}

.container h1 {
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 4.5rem;
    border-bottom: 1px solid #383838;
    margin-top: 7%;
} 

.container h2 {
    padding-top: 30px;
    font-size: 1.7rem;
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
}


.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 90%;
    margin: 0 auto;
}

.product__item {
    margin-top: 10%;
    cursor: pointer;
    position: relative;
}

.product__item img {
    width: 255px;
    height: 350px;
    object-fit: cover;
}

.product__img1 { 
    width: 100%;
    height: 100%;
}

.top-img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease;
    margin-left: 33px;
}

.top-img:hover {
    opacity: 1;
}

/*---------------------------Product Details Styling-----------------------------*/

.purchase-container {
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 120px;
}

input {
    border: 1px solid #383838;
    font-weight: bold;
    height: 33px;
    width: 33px;
    text-align: center;
    padding-right: 2px;
}

.cart {
    background: red;
    color: whitesmoke;
    font-size: 15px;
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid red;
    border-radius: 5px;
}

.cart:hover {
    filter: grayscale(20%);
}

/*------------------------------Footer Styling----------------------------*/

footer {
    margin-top: 40px;
    padding: 40px 0;
    background-color: whitesmoke;
    height: 50vh;
}

footer p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 50px;
    border-bottom: 1px solid #383838;
    margin-bottom: 70px;
    cursor: pointer;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #383838;
}

footer .social a {
    font-size: 24px;
    color: #383838;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover {
    opacity: 1;
}

footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a {
    color: #383838;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover {
    opacity: 1;
}
